# Node modules
**/node_modules/

# Build directories
/frontend/build/
/frontend/dist/

# Environment variables
.env
.env.*
!.env.example

# Uploaded files
/backend/uploads/

# Logs
.log
npm-debug.log
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.vscode/
*.swp
*.bak

# System files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
/coverage/
.nyc_output/

# Build output
/dist/
/build/

# Dependency directories
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Mac system files
.node_repl_history

*.tgz

# Yarn Integrity file
.yarn-integrity

# parcel-bundler cache (https://parceljs.org/)
.cache/
.parcel-cache/

